<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">AuthApp</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="autservice.loggedIn()" ><a [routerLink]="['/profile']">Profile</a></li>
        <li *ngIf="!autservice.loggedIn()"><a [routerLink]="['/register']">Register</a></li>
        <li *ngIf="!autservice.loggedIn()"><a [routerLink]="['/login']">Login</a></li>
        <li *ngIf="autservice.loggedIn()"><a href="#" (click)="logoutUser()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
